[submodule "pamac/src"]
	path = pamac/src
	url = ssh://git@gitlab.manjaro.org:22277/packages/extra/pamac.git
[submodule "pamac/aur"]
	path = pamac/aur
	url = ssh://aur@aur.archlinux.org/pamac.git
[submodule "ttf-google-fonts-typewolf"]
	path = ttf-google-fonts-typewolf
	url = ssh://aur@aur.archlinux.org/ttf-google-fonts-typewolf.git
[submodule "yup"]
	path = yup
	url = https://aur.archlinux.org/yup.git
